/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

:root {
  --color-principal: #00cbda;
  --color-secundario: #717d7e;
  --color-botones: #5d6d7e;
  --color-texto: #f2f3f4;
}

/* ------------ GENERALES  ----------- */

.bg-fondo {
  background-color: black;
}

.bg-secundario {
  background-color: var(--color-secundario);
}

.color-texto {
  color: var(--color-texto);
}

.alerta-error {
  background-color: red;
}
.alerta-correcto {
  background-color: green;
}

.col-10 {
  width: 20%;
  height: 50%;
}
.form-control {
  background-color: #d5ff03;
}
